[role=tabpanel][data-v-3bbe800d]{animation:fadeIn-3bbe800d .3s ease-in-out}@keyframes fadeIn-3bbe800d{0%{opacity:0;transform:translateY(10px)}to{opacity:1;transform:translateY(0)}}.group[data-v-3bbe800d]:hover{transform:translateY(-4px)}
